.row {
  clear: both;
}
.row>.cell-33,.row>.cell-100 {
  float: left;
}
/* ------------------------------------------------------------------ */
.row>.cell-100 {
  width: 100%;
}
.row>.cell-33 {
  width: 33%;
}
